{% load i18n %}
{% load lfs_tags %}

{% if amount_of_items %}
    <div class="article">
        {{amount_of_items}} {% trans 'Article' %}
    </div>
    <div class="price">
        {{price|currency}}
    </div>    
{% else %}
    {% trans 'Cart is empty' %}
{% endif %}