{% load lfs_tags %}
{% if pages %}
    <ul>
        {% for page in pages %}
            <li class="level-{{ page.level }}">
                <a {% if page.is_current %}class="current"{% endif %}
                   href="{{ page.page.get_absolute_url }}">
                    {{ page.page.title }}
                </a>
                {% page_children page.children %}
            </li>    
        {% endfor %}
    </ul>    
{% endif %}
