{% load i18n %}
{% load lfs_tags %}

{% if pages %}
    <div class="pages-portlet portlet">
        <div class="portlet-header">
            {{ title }}
        </div>
        <div class="portlet-body">
          <ul class="root">
            {% for page in pages %}
                <li class="level-{{ page.level }}">
                    <a {% if page.is_current %}class="current"{% endif %}
                       href="{{ page.page.get_absolute_url }}">
                        {{ page.page.title }}
                    </a>
                    {% page_children page.children %}
                </li>
            {% endfor %}
          </ul>
        </div>
        <div class="portlet-footer">
            <a href="{% url lfs_pages %}">
                {% trans 'More information' %}
            </a>
        </div>
    </div>
{% endif %}