{% extends "lfs/base.html" %}
{% load i18n %}

{% block title %}{% trans "Contact form" %}{% endblock %}
{% block section %}{% endblock %}
{% block left-slot-wrapper%}{% endblock %}
{% block right-slot-wrapper%}{% endblock %}

{% block content %}
    <h1>{% trans 'Contact form' %}</h1>
    <p>
        {% trans 'Thank you for your message. We will get back to you soon.' %}
    </p>

    <a class="button emphasized left"
       href="{% url lfs_shop_view %}">
       {% trans 'Go on shopping' %}
    </a>
{% endblock %}