{% load i18n lfs_tags %}
{% if products %}
    <table id="livesearch-results-table">
        {% for product in products %}
            <tr class="{% cycle 'even' 'odd' %}"
                onclick="window.location='{{ product.get_absolute_url }}'">
                <td class="image">
                    {% if product.get_image %}
                        <a href="{{product.get_absolute_url}}">
                            <img src="{{product.get_image.url_60x60}}"
                                 alt="{{product.get_name}}"
                                 title="{{product.get_name}}" />
                        </a>
                    {% endif %}
                </td>
                <td class="text">
                    <a href="{{product.get_absolute_url}}">
                        {{product.get_name}}
                    </a>
                    {% for option in product.get_options %}
                        {% if option.property.display_on_product %}
                            <div>
                                {{option.property.name}} : {{option.value|option_name}} {{ option.property.unit|safe }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </td>
                <td class="number"
                    nowrap="nowrap">
                    {{product.get_price|currency}}
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td class="all-results"
                colspan="3">
                <a href="{% url lfs_search %}?phrase={{phrase}}">
                    {% trans 'All results' %} ({{ total }})
                </a>
            </td>
        </tr>
    </table>
{% else %}
    <p>{% trans 'No products found' %}</p>
{% endif %}
